body {
    background: Aquamarine;
    margin: 0;
    display: flex;
    min-height: 100vh;
}

aside {
    float: left;
    background: MediumAquamarine;
    width: 30%;
    padding: 2.5%;
    height: 100vh;
    color: white;
    border-right: 7px solid black;
}

aside img {
    width: 200px;
}

aside ul {
    list-style: none;
}

a {
    text-decoration: none;
}

aside ul li {
    color: LightCyan;
    display: block;
    font-size: 25px;
    transition: all .4s ease;
}

aside ul li:hover,
aside ul a:hover {
    color: DarkCyan;
    font-size: 29px;
}

main {
    text-align: center;
    float: left;
    margin-top: 100px;
    text-align: left;
    flex: 1;
}


@media (max-width: 500px) {
    body {
        flex-direction: column;
    }

    aside {
        width: 80%;
        height: auto;
        border-right: none;
        border-bottom: 7px solid black;
        display: flex;
        flex-direction: row;
        gap: 12px;
        font-size: 14px;
    }

    aside ul li:hover,
    aside ul a:hover {
        font-size: 19px;

    aside img {
        width: 0px;
    }
}