body {
    background: Aquamarine;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}

aside {
    float: left;
    background: MediumAquamarine;
    width: 30%;
    padding: 2.5%;
    height: 100vh;
    color: white;
    border-right: 7px solid black;
}

main {
    float: left;
    margin-top: 100px;
    text-align: left;
    flex: 1;
}


@media (max-width: 500px) {
    body {
        flex-direction: column;
    }

    aside {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 7px solid black;
    }

    main {
        margin-top: 20px;
        padding: 10px;
    }
}